body {
    background: #000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff;
}

#imageContainer img {
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    height: 100%;
}

#thumbnailContainer {
    text-align: center;
}

#thumbnailContainer img {
    height: 30px;
    padding: 1px;
    margin: 0 10px 10px 0;
 }

.selectedThumbnail {
    height: 40px !important;
}
