body {
    background: #000;
    font-family: Courier, Arial, Helvetica;
    font-size: 24px;
    color: #fff;
    overflow: hidden;
}

#dateLabel {
    text-align: center;
    margin: 10px;
}

#loading {
    top: 10px;
    position: absolute;
}

#imageContainer img {
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    height: 100%;
}

.hidden {
    display: none;
}
